.logo {
    max-width: 15%;
    min-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family:"Montserrat";
    text-align: center;
    font-weight:1000;
}

h3 {
    font-family:"Montserrat";
    text-align: center;
}

.container {
    max-width: 500px;
}

.nav-link {
    color: black;
    font-family: 'Ubuntu';
    font-weight:1000;
}

.gap{
    margin-bottom:100px;
}

.main-img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.navbar-brand{
    padding-top:30px;
}

.nav-home{
    padding-top:59px;
}

.nav-item {
    padding-right: 10px;
}

.navbar.navbar-expand-lg {
    padding: 0px;
}

.fa {
    background: black;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    border-radius: 17px;
    padding-top: 8px;
    color: white;
    margin: 0 10px;
}

.fa:hover {
    background:white;
    color:black;
}

.logo {
    margin-bottom: 10px;
}

.middle-container {
    display: block;
    text-align: center;
    margin: 20px auto;
    transition: 1s;
}

.bottom-container {
    display: block;
    text-align: center;
    margin: 20px auto;
}

.page-content{
    display:flex;
    justify-content: center;
}

.box-head{
    grid-column-start:1;
    grid-column-end:3;
    padding-bottom:50px;
}

.content-container {
    display: grid;
    width:80%;
    align-items:center;
    grid-template-rows: auto auto;
    grid-template-columns: 45% auto;
    grid-gap: 10px;
    padding: 10px;
    transition: 1s;
}

.shop-container {
    display: grid;
    grid-template-rows:500px;
}

.left-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-text {
    display: grid;
    line-height:2;
}

.bottom-txt {
    margin: auto;
    width: 20%;
    padding: 20px;
}

.static {
    position: absolute;
    background: white;
    max-width: 400px;
}

.static:hover {
    opacity: 0;
}

.active {
    max-width: 400px;
    margin-right:200px;
}

.active:hover {
    max-width: 450px;
}

.float-previews {
    display: block;
    max-width: 22%;
    float: left;
}

.project-image {
    max-width: 100%;
}

.about-preview {
    max-width: 65%;
}

.description {
    margin: 10px auto 50px auto;
    text-align: left;
    vertical-align: center;
    display: inline-block;
    margin: 10px auto;
}

.text {
    padding-top: 10px;
}

.page-text {
    font-family: 'Montserrat';
    color: darkgrey;
    font-weight:200;
    text-align:justify;
    display: grid;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 1s;
    border-radius: 20px;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #111;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #2980b9;
}

#icey{
    max-width:400px;
    margin-right:100px;
}

#icey2{
    max-width:400px;
}