.logo {
    max-width: 17%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 500px;
}

.nav-link {
    color: black;
    font-weight: 400;
    font-family: 'Montserrat';
}

.main-img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    padding-left: 40px;
}

.navbar.navbar-expand-lg{
    padding:0px;
}

.fa {
    background: black;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 33px;
    border-radius: 17px;
    padding-top:8px;
    color:white;
    margin:0 10px;
}

.logo{
    margin-bottom:10px;
}

.middle-container {
    text-align:center;
    margin: 10px auto;
}

.bottom-txt{
    margin:auto;
    width:20%;
    padding:20px;
}